body{
  margin:0;
  font-family:Arial;
  background:#121212;   /* soft black */
  color:#ffffff;        /* PURE WHITE TEXT */
}

/* HEADER */
header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:18px 25px;
  background:#1a1a1a;
}

.logo{
  color:#ff2e2e;
  font-size:24px;
  font-weight:bold;
  letter-spacing:1px;
}

.owner{
  display:flex;
  align-items:center;
  gap:10px;
}

.owner img{
  width:55px;
  height:55px;
  border-radius:50%;
  border:2px solid #ff2e2e;
}

/* PAGES */
.page{
  display:none;
  padding:25px;
}

.active{
  display:block;
}

/* HERO */
.hero{
  text-align:center;
  padding:90px 20px;
  background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.9)),
  url('https://images.unsplash.com/photo-1534438327276-14e5300c3a48') center/cover;
  border-radius:15px;
}

.hero h1{
  font-size:42px;
}

.hero p{
  font-size:18px;
  opacity:0.9;
}

/* BUTTONS */
button{
  padding:14px 22px;
  margin:10px;
  background:#ff2e2e;
  color:white;
  border:none;
  border-radius:8px;
  font-size:16px;
  font-weight:bold;
  cursor:pointer;
}

button:hover{
  transform:scale(1.05);
}

.whatsapp{
  display:inline-block;
  margin-top:15px;
  padding:14px 20px;
  background:#25D366;
  color:white;
  text-decoration:none;
  border-radius:8px;
  font-weight:bold;
}

/* ABOUT */
.about{
  margin-top:30px;
  padding:20px;
  background:#1e1e1e;
  border-radius:12px;
  line-height:1.7;
}

.about h2{
  color:#ff2e2e;
}

/* CARDS */
.card{
  background:#1a1a1a;
  margin:12px auto;
  padding:25px;
  width:85%;
  text-align:center;
  border-radius:12px;
  font-size:18px;
}

/* GRID */
.grid{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:15px;
}

.item{
  background:#1a1a1a;
  padding:12px;
  width:220px;
  border-radius:12px;
  text-align:center;
}

.item img{
  width:100%;
  border-radius:10px;
}

/* FOOTER */
footer{
  text-align:center;
  padding:25px;
  background:#1a1a1a;
  margin-top:30px;
  font-size:16px;
}
